.offersFour ul {
    margin: 150px 130px 80px 150px;
    padding-bottom: 20px;
    width: 200px;
    width: fit-content;
}

.offersFour li {
    display: inline-block;
    padding: 3px;
    width: 390px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.offersFour li video{
    width: 390px
}


.offersFour li img{
    width: 390px
}

.offersFour li h3 {
    font-weight: 1000;
}

.offersFour li h4 {
    padding: 10px 0px;
    text-decoration: underline;
    font-weight: 800;
}

.offersFour li p {
    font-size: 14px;
    width: 280px;
    padding: 10px 2px 25px 0px;
}

.stories h1 {
    margin-left: 160px;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stories ul {
    margin-left: 160px;
}

.stories li {
    display: inline-block;
    padding: 3px;
    width: 360px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stories li img{
    height: 240px;
    width: 360px;
}

.stories li div {
    width: 330px;
}