.big-text {
    background-color: rgb(235, 230, 230);
    height: 470px;
}

.big-text ul {
    text-align: center;
    justify-content: flex-start;
}

.big-text ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    height: 300;
    width: 550px;
    margin: 20px 10px;
    display: relative;
}

.big-text h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 999;
    font-size: 13px;
    padding: 10px;
    text-align: left;
}

.big-text ul li p {
    margin: 10px;
    display: flex;
    font-size: medium;
    text-align: left;
}

.yellow-block {
    position: relative;
    background-color: rgb(238, 238, 49);
    height: 140px;
}

.yellow-block span {
    position: absolute;
    left: 500px;
    top: 40px;
}

.yellow-block h1 {
    font-size: 25px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.yellow-block span button {
    height: 50px;
    width: 200px;
    margin-left: 480px;
    color: aliceblue;
    background-color: black;
}

.end-links ul {
    position: relative;
    height: 543px;
    text-align: center;
}

.end-links ul li {
    position: relative;
    bottom: 50px;
    display: inline-block;
    margin: 20px;
    text-align: left;
}

.end-links ul li h1 {
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.end-links ul li p {
    padding: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.end-links ul li img {
    display: flex;
    margin: 5px;
}

footer {
    background-color: rgb(61, 60, 60);
    height: 160px;
}

footer ul {
    text-align: center;
}

footer ul li {
    margin: 29px 8px;
    color: rgb(173, 177, 179);
    display: inline-block;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer h6 {
    margin-top: 20px;
    margin-left: 400px;
    color: rgb(168, 166, 166);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}